<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title text-center">You played <%= @user_move %>.</h3>
          </div>
          <div class="panel-body">
            <img src="/assets/images/<%= @user_move %>.png" class="img-responsive">
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title text-center">The computer played <%= @computer_move %>.</h3>
          </div>
          <div class="panel-body">
            <img src="/assets/images/<%= @computer_move %>.png" class="img-responsive">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <h1 class="text-center">You <%= @result %>!</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5 class="panel-title">Summary</h5>
      </div>

      <table class="table table-hover table-striped">
        <tr>
          <th>When you played</th>
          <th>you won</th>
          <th>you lost</th>
          <th>you tied</th>
        </tr>

        <tr>
          <td>rock</td>
          <td><%= Move.where({:user_move => "rock", :user_wins => "1"}).count %></td>
          <td><%= Move.where({:user_move => "rock", :computer_wins => "1"}).count %></td>
          <td><%= Move.where({:user_move => "rock", :tie => "1"}).count %></td>
        </tr>

        <tr>
          <td>paper</td>
          <td><%= Move.where({:user_move => "paper", :user_wins => "1"}).count %></td>
          <td><%= Move.where({:user_move => "paper", :computer_wins => "1"}).count %></td>
          <td><%= Move.where({:user_move => "paper", :tie => "1"}).count %></td>
        </tr>

        <tr>
          <td>scissors</td>
          <td><%= Move.where({:user_move => "scissors", :user_wins => "1"}).count %></td>
          <td><%= Move.where({:user_move => "scissors", :computer_wins => "1"}).count %></td>
          <td><%= Move.where({:user_move => "scissors", :tie => "1"}).count %></td>
        </tr>

        <tr>
          <th>Total</th>
          <th><%= Move.sum("user_wins") %></th>
          <th><%= Move.sum("computer_wins") %></th>
          <th><%= Move.sum("tie") %></th>
        </tr>
      </table>
    </div>


    <div class="panel panel-info">
      <div class="panel-heading">
        <h5 class="panel-title">
          Complete history
          (<%= Move.count %>)
        </h5>
      </div>

      <table class="table table-hover table-striped">
        <tr>
          <th>User Move</th>
          <th>Computer Move</th>
          <th>User Wins</th>
          <th>Computer Wins</th>
          <th>Tie</th>
        </tr>
<% move_list=Move.order(created_at: :desc) %>
<% move_list.each do |move| %>
          <tr>
            <td><%=move.user_move%></td>
            <td><%=move.computer_move%></td>
            <td><%=move.user_wins%></td>
            <td><%=move.computer_wins%></td>
            <td><%=move.tie%></td>
          </tr>
<% end %>
      </table>
    </div>
  </div>
</div>

</div>
